:root {
    --border-color: rgb(0, 0, 0);
    --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    --body-color: rgb(214, 213, 213);
    --main-color-white: rgb(255, 255, 255);

    --header-height: 100px;
    --header-color: rgb(104, 130, 158);


/* #598234 Луг

#aebd38 Мох

#68829e Водопад

#505160 Грозовая */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, main {
    max-width: 100%;
    height: 100%;

    overflow: hidden;
}
/* satrted config */


body {
    background-color: var(--body-color);
}







header {
    width: 100%;
    height: var(--header-height);

    background-color: var(--header-color);
    border-bottom: 2px solid var(--border-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: var(--box-shadow);
}











section {
    padding: 100px;
}

section > div:nth-of-type(1) {
    height: 250px;
    padding: 10px 20px;

    background-color: var(--main-color-white);
    border: 2px solid var(--border-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

section > div:nth-of-type(1) > div {
    width: 100%;
    padding: 5px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    display: flex;
    gap: 10px;
}

.card {
    width: 200px;
    height: 150px;
    padding: 5px 10px;
    margin: 10px 0;

    background-color: var(--main-color-white);
    scroll-snap-align: center;

    border: 1px solid var(--border-color);
    border-radius: 10px;

    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:hover {
    transform: scale(1.05);
}

ul {
    margin-bottom: 10px;

    font-size: 1.1rem;

    list-style: none;

    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

/* .card > div > p:nth-of-type(1) {
    font-size: 0.8rem;
}

.card > div > p {
    font-size: 1.3rem;
} */













section > div:last-child {
    width: 100%;
    margin-top: 20px;
    
    display: flex;
    justify-content: space-between;
}

section > div:last-child > :first-child {
    width: 200px;
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px 10px;

    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

button {
    padding: 5px 10px;
    margin-top: 15px;

    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
button:active {
    transform: scale(0.9);
}

section > div:last-child > button {
    width: 40px;
    height: 40px;
    margin-top: auto;

    border-radius: 50%;
}